.footer__content{
    background-color: rgba(44, 44, 44, 1);
    height: 367px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer__social-networks{
    margin-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}
.link-social-network{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
}
.span-social-network{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
}
.image-social-network{
    height: 27px;
    width: 27px;
}
@media (min-width: 960px){
    .footer__content{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 80px;;
    }
    .footer__social-networks{
        align-items: flex-end;
    }
}