@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.pos{
    display: none;
}
.title-page{
    font-size: 48px;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-bottom: 104px;
}
.logo{
    width: 150px;
    height: 50px;
}
@media(min-width: 960px){
    .logo{
        width: 200px;
        height: 60px;
    }
}
.max-width-el{
    max-width: 330px;
}
.section-welcome{
    display: none;
}
.section-welcome__content{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    width: 100%;
    height: 655px;
}
@media (min-width:960px){
    .section-welcome{
        display: initial;
    }
    .section-welcome__content{
        display: flex;
        align-items: center;
    }
    .media-desktop{
        margin: 0 0 0 85px;
        color: white;
    }
}
/* servicios */
.service-content{
    padding-top: 120px;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-content__service-info{
    background-color: rgba(44, 44, 44, 0.30);
    margin: 30px;
    display: flex;
    min-height: 530px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: background-color 0.5s;
}
.service-content__service-info:hover{
    background-color: rgba(44, 44, 44, 0.80);
}
.service-content__image{
    height: 127px;
}
.service-content__title-job{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    margin: 9px 0 0 0;
}
.service-content__text-job{
    font-family: 'Poppins';
    font-weight: 400;
    margin: 8px 0 0 0;
    text-align: center;
}
@media (min-width:960px){
    .media-mobile{
        display: none;
    }
    .service-content{
        flex-direction: row;
        flex-wrap: wrap;    
        justify-content: center;
        padding-top: 0px;
    }
    .service-content__service-info{
        margin: 53px 73px;
    }
}